.container{
    display: flex;
    font-family: var(--font-inria_sans);
    margin: 80px 100px;
    
}

.container .categorySection{
    
    margin-right: 130px;
}

.container .title{
    display: flex;
    gap: 10px;
    font-size: 12px;
    align-items: center;
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 10px;
    margin-top: 25px;
}

.categories button{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border: none;
    font-family: var(--font-inria_sans); 
    font-weight: 400;
}

.categories button:hover{
    color: #AF8260;
}

.container .blogSection .filteredWord{
    display: flex;
    gap: 10px;
    font-size: 13px;
    margin-bottom: 20px;
}

.container .blogSection .filteredWord h2{
    color: #AF8260;
}

.container .blogCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px
}
